extends layout
block content
  .container
    h1= title
    div.flex-h.margin-top-15
      each val in topmatter
        div.flex-hchild
          form(method='post' action='/' id='topmatter'+val.i)
            input(type='hidden' name='top' value=val.top)
            input(type='hidden' name='verb' value=val.verb)
          button.btn.btn-primary.btn-lg(type='submit'
            form='topmatter'+val.i
            value='Submit')= val.text
    div.row
      div.col-md-5
        h2 maintenant
      div.col-md-2
      div.col-md-5
        h2 prochainement
    div.row
      div.col-md-5.bg-now.text-center
        p#now= now
        script.
          window.fitText( document.getElementById("now"), 0.5 );
      div.col-md-2
      div.col-md-5.bg-next.text-center
        p#next= next
        script.
          window.fitText( document.getElementById("next"), 0.5 );
    div.row
      div.col-md-5.bg-now.text-center
        h3= nowText
      div.col-md-2
      div.col-md-5.bg-next.text-center
        h3= nextText
    div.row.margin-top-15.text-center
      each val in range
        div.col-md-1.margin-top-15
          form(method='post' action='/' id='form'+val)
            input(type='hidden' name='top' value=val)
            input(type='hidden' name='verb' value=states.STOPPED)
          button.btn.btn-secondary.btn-lg(type='submit' form='form'+val value='Submit')= val
