extends layout
block content
  .container
    h1= title
    div.flex-h.margin-top-15
      each i in [0,1,2,3,4]
        - var val = nav[i]
        div.flex-hchild
          button.btn.btn-primary.btn-lg(
            onclick = 'setstate({top:'+val.top+',verb:'+val.verb+'})'
            )= val.text
    div.row
      div.col-md-5
        h2 maintenant
      div.col-md-2
      div.col-md-5
        h2 prochainement
    div.row
      div.col-md-5.bg-now.text-center
        p#now= now
        script.
          window.fitText( document.getElementById("now"), 0.5 );
      div.col-md-2
      div.col-md-5.bg-next.text-center
        p#next= next
        script.
          window.fitText( document.getElementById("next"), 0.5 );
    div.row
      div.col-md-5.bg-now.text-center
        h3= nowText
      div.col-md-2
      div.col-md-5.bg-next.text-center
        h3= nextText
    div.row.margin-top-15.text-center
      each val in range
        div.col-md-1.margin-top-15
          button.btn.btn-secondary.btn-lg(
            onclick = 'setstate({top:'+val+',verb:'+states.STOPPED+'})'
            )= val
